* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  /* position: relative; */
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  background-color: #33393d;
  margin-top: 40px;
}

#cart {
  content: "";
  position: fixed;
  height: 100vh;
  width: 500px;
  top: 0%;
  left: -100%;
  /* transform: translateY(-50%); */
  background-image: linear-gradient(-45deg, #2aabe4 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  z-index: 6;
  color: #fff;
}

#cart.active {
  left: 0px;
}

#profile {
  content: "";
  position: fixed;
  height: 100vh;
  width: 500px;
  top: 0%;
  left: -100%;
  /* transform: translateY(-50%); */
  background-image: linear-gradient(-45deg, #2aabe4 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  z-index: 6;
  color: #fff;
}

#profile.active {
  left: 0px;
}

.cards {
  position: fixed;
  z-index: 999;
  background-color: #ffcd24;
  border: none;
  padding: 20px;
  color: #fff;
  border-radius: 50%;
}

.profile {
  position: fixed;
  z-index: 999;
  left: 60px;
  background-color: #ffcd24;
  border: none;
  padding: 20px;
  color: #fff;
  border-radius: 50%;
}

.button-container button {
  width: 200px;
  background-color: #2aabe4;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  padding: 15px 10px 15px 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.button-container {
  display: flex;
  padding: 0% 9%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5% 10%;
  color: #000000;
  margin-top: 100px;
}

.card-container-heading {
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.card {
  width: 48%;
  margin: 1%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  padding: 1%;
}

.card-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.card-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
}

.button {
  width: 150px;
  background-color: #2aabe4;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  padding: 15px 10px 15px 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.button:hover {
  font-size: 1.1em;
  /* background: rgba(255, 255, 255, 0.8); */
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-heading,
.card-subtitle,
.card-description {
  margin-bottom: 10px;
}

.products .product-item {
  width: 100%;
  max-width: 440px;
  /* background: url(https://picsum.photos/300?random=4) no-repeat; */
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  text-align: center;
  margin: 20px;
}

.product-details {
  margin: 20px;
}

/* .products .portfolio-item .portfolio-details {
  transition: all 0.5s ease;
  opacity: 0;
} */

/* .products .portfolio-item:hover .portfolio-details {
  opacity: 1;
}

.products .portfolio-item:hover .btns-container {
  margin-top: 20px;
} */

/* .products .portfolio-item:hover {
  background: linear-gradient(
      rgba(225, 225, 225, 0.5),
      rgba(225, 225, 225, 0.5)
    ),
    url(https://picsum.photos/300?random=4) no-repeat;
  background-size: cover;
  background-position: center;
} */

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 1650px;
  width: 95%;
  margin: auto;
  justify-content: flex-start;
}

.prof_link {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 50px;
}

#cart {
  padding: 50px;
  padding-top: 140px;
}

.title {
  margin-bottom: 20px;
}

li {
  list-style: none;
}

.list-group-item {
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #33393d;
}

.itm {
  margin: 10px;
  padding: 10px;
}

.price {
  margin: 10px;
  padding: 10px;
}

.dlt {
  margin: 10px;
  padding: 10px;
}
.dlt button {
  height: 25px;
  width: 25px;
  border: none;
  background: #ffcd24;
}

.calc {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.check {
  margin-top: 30px;
}

.checkout {
  height: 50px;
  width: 200px;
  background: #ffcd24;
}

.prof_link a {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: #33393d;
  font-weight: bold;
  text-transform: capitalize;
}
